<div #loaderDiv id="loader">
  <app-loader></app-loader>
</div>
<ion-content>
  <!-- search results div starts -->
  <div class="searchResults" *ngIf="searchInput && blnShowSearchResults">

    <p *ngIf="searchArray.length > 0">
      Search Results
    </p>
    <ion-list *ngIf="searchArray.length > 0">
      <div *ngFor="let item of searchArray">
        <ion-item *ngIf='searchArray.length > 0' (click)="showHideSearchDetails(item)">{{item.data.name}}</ion-item>
      </div>
    </ion-list>

    <div id="oops" *ngIf="searchArray.length === 0">
      <p>
        <ion-icon name="sad"></ion-icon> There are no matches for this search
      </p>
    </div>
  </div>
  <!-- search results div ends -->
  
  <div class="content-container">
    <!-- Nav Bar content starts -->
    <div class="nav-bar">
      <div class="nav-content">
        <div id="title" (click)="fnHideSearchResults(true)">
          <img src="../../assets/imgs/Logo/Logo.png" id="appLogo" alt="" (click)="goHome()" id="dankie-home-button">
          
        </div>
        <div id="nav-middle">
          <div id="searchbar" style="visibility: hidden;">
            <ion-input [(ngModel)]='searchInput' id="mySearchBar" (ionChange)='search()' placeholder="Search products"
              show-cancel-button="never"></ion-input>
          </div>
          <div class="space" (click)="fnHideSearchResults(true)"></div>
        </div>
        <div id="nav-right" (click)="fnHideSearchResults(true)">
          <div id="admin" (click)="fnHideSearchResults(true)">
            <p (click)='signOutPopup()'>SIGN OUT</p>
          </div>
        </div>


      </div>
    </div>
    <!-- Nav Bar content ends -->
    <div class="body-content"  (click)="fnHideSearchResults(true)">
      <div id="left" padding>
      </div>
      <div id="mid">
        <div class="top-bar">
          <ion-button color="dark" fill="clear" (click)='back()'>
            <ion-icon name="home"></ion-icon>
          </ion-button>
          <div class="page-title">
            <div class="btn-top" id="allSubs" (click)="toggleAll()">Show All</div>
            <div class="btn-top" id="dankie" (click)="toggleDankie()">Dankie Jesu</div>
            <div class="btn-top" id="kwanga" (click)="toggleKwanga()">Kwanga Apparel</div>
          </div>
        </div>
        <div>

        </div>
        <div *ngFor="let item of allBrandSales">
          <div *ngIf="brandName === 'All'">

            <div *ngIf="item.brand === 'Kwanga Apparel' || item.brand === 'Dankie Jesu'">
              <div class="SubCat">
                <div class="gridder">
                  <img defer [src]="item.data.pictureLink" *ngIf="item.data.pictureLink != undefined && item.data.pictureLink != ''" alt="">
                  <img class="bg" src="../../assets/imgs/images.jpg" *ngIf="item.data.pictureLink == undefined || item.data.pictureLink == ''" alt="">
                  <div id="info">
                    <h5>{{item.data.name}}</h5>
                    <p>{{item.data.description}}.</p>
                    <div class="prices">
                      <p id="new-price">{{item.data.saleprice | currency : 'R'}}</p>
                      <p id="old-price">{{item.data.normalPrice | currency : 'R'}}</p>
                    </div>                 
                      <ion-button color="danger" (click)='deleteItem(item, item.productID)'>Remove</ion-button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div *ngIf="brandName === 'Dankie Jesu'">

            <div *ngIf="item.brand === 'Dankie Jesu'">
              <div class="SubCat">
                <div class="gridder">
                  <img defer [src]="item.data.pictureLink" *ngIf="item.data.pictureLink != undefined && item.data.pictureLink != ''" alt="">
                  <img class="bg" src="../../assets/imgs/images.jpg" *ngIf="item.data.pictureLink == undefined || item.data.pictureLink == ''" alt="">
                  <div id="info">
                    <h5>{{item.data.name}}</h5>
                    <p>{{item.data.description}}.</p>
                    <div class="prices">
                      <p id="new-price">{{item.data.saleprice | currency : 'R'}}</p>
                      <p id="old-price">{{item.data.normalPrice | currency : 'R'}}</p>
                    </div>
                    <div class="options">
                      <ion-button color="danger" (click)='deleteItem(item, item.productID)'>Remove</ion-button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div *ngIf="brandName === 'Kwanga Apparel'">

            <div *ngIf="item.brand === 'Kwanga Apparel'">
              <div class="SubCat">
                <div class="gridder">
                  <img defer [src]="item.data.pictureLink" *ngIf="item.data.pictureLink != undefined && item.data.pictureLink != ''" alt="">
                  <img class="bg" src="../../assets/imgs/images.jpg" *ngIf="item.data.pictureLink == undefined || item.data.pictureLink == ''" alt="">
                  <div id="info">
                    <h5>{{item.data.name}}</h5>
                    <p>{{item.data.description}}.</p>
                    <div class="prices">
                      <p id="new-price">{{item.data.saleprice | currency : 'R'}}</p>
                      <p id="old-price">{{item.data.normalPrice | currency : 'R'}}</p>
                    </div>
                    <div class="options">
                      <ion-button color="danger" (click)='deleteItem(item, item.productID)'>Remove</ion-button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="right">
      </div>
    </div>
  </div>











  <div class="mobile-view">
    <div class="cont-small">
      <div class="top-bar">
        <ion-button color="dark" fill="clear" (click)='back()'>
          <ion-icon name="home"></ion-icon>
        </ion-button>
        <div class="page-title">
          <div class="btn-top" id="allSubs" (click)="toggleAll()">Show All</div>
          <div class="btn-top" id="dankieSub" (click)="toggleDankie()">Dankie Jesu</div>
          <div class="btn-top" id="kwangaSub" (click)="toggleKwanga()">Kwanga Apparel</div>
        </div>
      </div>
      <p class="location">
        {{brandName}}
      </p>
      <div *ngFor="let item of allBrandSales">
        <div class="list" *ngIf="brandName === 'All'">

          <div class="SubCats" *ngIf="item.brand === 'Kwanga' || item.brand === 'Dankie Jesu'">
            <div>
              <img defer [src]="item.data.pictureLink" *ngIf="item.data.pictureLink != undefined && item.data.pictureLink != ''" alt="">
              <img src="../../assets/imgs/images.jpg" *ngIf="item.data.pictureLink == undefined || item.data.pictureLink == ''" alt="">
            </div>
            <div>
              <p id="item-name-small">{{item.data.name}}</p>
              <div class="prices">
                <p id="new-price">{{item.data.saleprice | currency : 'R'}}</p>
                <p id="old-price">{{item.data.normalPrice | currency : 'R'}}</p>
              </div>

              <div class="opts">
                <div>
                  <ion-button color="danger" icon-only (click)='deleteItem(item, item.productID)'>
                    <ion-icon ios="ios-trash" md="md-trash"></ion-icon>
                  </ion-button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="list" *ngIf="brandName === 'Dankie Jesu'">

          <div class="SubCats" *ngIf="item.brand === 'Dankie Jesu'">
            <div>
              <img defer [src]="item.data.pictureLink" *ngIf="item.data.pictureLink != undefined && item.data.pictureLink != ''" alt="">
              <img src="../../assets/imgs/images.jpg" *ngIf="item.data.pictureLink == undefined || item.data.pictureLink == ''" alt="">
            </div>
            <div>
              <p id="item-name-small">{{item.data.name}}</p>
              <div class="prices">
                <p id="new-price">{{item.data.saleprice | currency : 'R'}}</p>
                <p id="old-price">{{item.data.normalPrice | currency : 'R'}}</p>
              </div>
              <div class="opts">
                <div>
                  <ion-button color="danger" icon-only (click)='deleteItem(item, item.productID)'>
                    <ion-icon ios="ios-trash" md="md-trash"></ion-icon>
                  </ion-button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="list" *ngIf="brandName === 'Kwanga Apparel'">

          <div class="SubCats" *ngIf="item.brand === 'Kwanga Apparel'">
            <div>
              <img defer [src]="item.data.pictureLink" *ngIf="item.data.pictureLink != undefined && item.data.pictureLink != ''" alt="">
              <img src="../../assets/imgs/images.jpg" *ngIf="item.data.pictureLink == undefined || item.data.pictureLink == ''" alt="">
            </div>
            <div>
              <p id="item-name-small">{{item.data.name}}</p>
              <div class="prices">
                <p id="new-price">{{item.data.saleprice | currency : 'R'}}</p>
                <p id="old-price">{{item.data.normalPrice | currency : 'R'}}</p>
              </div>
              <div class="opts">
                <div>
                  <ion-button color="danger" icon-only (click)='deleteItem(item, item.productID)'>
                    <ion-icon ios="ios-trash" md="md-trash"></ion-icon>
                  </ion-button>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>


    </div>
  </div>
</ion-content>